---
title: Le Wagon - Middleman
---
<div id="home">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
    <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="card-category">Exciting</div>
  <div class="card-description">
    <h2>Le Wagon Shanghai</h2>
    <p>Welcome to the future!</p>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
  <a class="card-link" href="#" ></a>
</div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="card-category">Underground</div>
  <div class="card-description">
    <h2>Le Wagon Berlin</h2>
    <p>The best alternative scene!</p>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/chrisvc">
  <a class="card-link" href="#" ></a>
</div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/madrid');">
  <div class="card-category">Lifestyle</div>
  <div class="card-description">
    <h2>Le Wagon Madrid</h2>
    <p>Enjoy yourself!</p>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/random">
  <a class="card-link" href="#" ></a>
</div>
    </div>
  </div>
</div>
    </p>
    <p class="about">
      <%= link_to "More about this template", "about.html" %>
    </p>
  </div>
</div>
